* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}

.cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #e8491d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background: #fff;
    border-radius: 5px;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    border-bottom: 2px solid #e8491d;
    display: inline-block;
}

#about p,
#resume p {
    margin-bottom: 1rem;
}

.textIndent {
    margin-left: 1.5%;
}

#projects .project-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #fff;
}

#skills .skill-bar {
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;
}

#skills .skill-bar .skill {
    display: block;
    height: 100%;
    background: #e8491d;
    text-align: center;
    color: #fff;
    padding: 0.5rem 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}

.cvsLogo {
    max-height: 30px;
}

.amfLogo {
    max-height: 20px;
}

.regalLogo {
    max-height: 35px;
}

.kohlsLogo {
    max-height: 20px;
}

footer p {
    margin: 0;
}

@media(max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .cta {
        padding: 0.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}