html {
    color: lime;
    background-color: black;
    display: flex;
}

.welcome {
    text-align: center;
}

.divider {
    border: 5px solid burlywood;
}

p {
    text-align: center;
    justify-content: center;

}

.spacer {
    line-height: 1.8;
}

h3,
h2,
h4,
h5 {
    text-align: center;
}

footer {
    color: white;
}

.work,
.projects,
.certs {
    font-size: 30px;
}

body {
    font-size: 20px;
}

#nav-bar {
    position: absolute;
    top: 0px;
    text-align: left;
}